{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.js", // Можете настроить для определенного типа файлов
      "options": {
        "function": { "bodyIndent": 0 }
      }
    }
  ]
}
