.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;

  > .links {
    border: 1px solid white;
    > .mainLink {
      border: 1px solid red;
      margin-right: 15px;
    }
  }
}
